p, h1, h2, h3, h4, a {
    font-family: Arial, Helvetica, sans-serif;
    color: #333333;
}

body {
    background: #313131;
}

#banner {
    width: 320px;
    height: 460px;
    /*background: #dedede;*/
}

#collapse-banner {
    width: 320px;
    height: 50px;
    background: #ed1c24;
    overflow: hidden;
    cursor: pointer;
}

#collapse-banner h1 {
    position: absolute;
    font-size: 15px;
    top: 14px;
    left: 87px;
    color: #ffffff;
    opacity: 0;
}

#collapse-banner h2 {
    position: absolute;
    font-size: 8px;
    top: 37px;
    left: 87px;
    color: #ffffff;
    opacity: 0;
}

#collapse-banner img {
    margin-left: 2px;
    margin-top: -10px;
}

#expanded-banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 320px;
    height: 460px;
    background: #dcdcdc;
    display: none;
    opacity: 0;
    overflow: hidden;
}

#device1 {
    position: absolute;
    top: -197px;
    left: 54px;
    width: 211px;
    height: 429px;
    background: url(../img/Samsung_Galaxy_S6_anim.jpg) no-repeat;
    -webkit-border-radius: 35px;
            border-radius: 35px;
}

#device2 {
    position: absolute;
    top: -93px;
    left: 139px;
    width: 143px;
    height: 441px;
    background: url(../img/2.jpg) no-repeat;
    opacity: 0;
}

#device3 {
    position: absolute;
    top: -93px;
    left: 190px;
    width: 102px;
    height: 441px;
    background: url(../img/3.jpg) no-repeat;
    opacity: 0;
}

#device4 {
    position: absolute;
    top: -93px;
    left: 227px;
    width: 28px;
    height: 441px;
    background: url(../img/4.jpg) no-repeat;
    opacity: 0;
}

#device5 {
    position: absolute;
    top: -93px;
    left: 205px;
    width: 104px;
    height: 441px;
    background: url(../img/5.jpg) no-repeat;
    opacity: 0;
}

#device6 {
    position: absolute;
    top: -87px;
  	left: 159px;
    width: 214px;
    height: 441px;
    background: url(../img/6.jpg) no-repeat;
    opacity: 0;
}

#device7 {
    position: absolute;
    top: 21px;
  	left: 185px;
    width: 214px;
    height: 441px;
    background: url(../img/7.jpg) no-repeat;
    opacity: 0;
}

#info {
    display: block;
}

.logo {
    margin-left: 11px;
    margin-top: 0;
    opacity: 0;
}

sup {
    vertical-align: super;
    font-size: smaller;
    font-size: 12px;
}

.titles {
    position: absolute;
}

#f1_txt1 {
    top: 295px;
    left: 79px;
    font-size: 20px;
    opacity: 0;
}

#f1_txt2 {
    top: 314px;
    left: 28px;
    width: 260px;
    font-size: 20px;
    opacity: 0;
}

#f2_txt1 {
    top: 385px;
    left: 12px;
    width: 311px;
    font-size: 19px;
    opacity: 0;
}

#f3_txt1 {
    top: 157px;
    left: 12px;
    width: 170px;
    font-size: 19px;
    opacity: 0;
}


#f3_txt2 {
    top: 196px;
    left: 12px;
    width: 170px;
    font-size: 19px;
    opacity: 0;
}

#FF {
    position: absolute;
    top: 0;
    left: 0;
    width: 320px;
    height: 480px;
    opacity: 0;
}

#FF sup {
    font-size: 9px;
}

#FF #ff_txt1 {
    top: 128px;
    left: 12px;
    font-weight: bold;
    font-style: italic;
    font-size: 16px;
    opacity: 0;
}

#FF #ff_txt2 {
    top: 150px;
    left: 12px;
    font-weight: 100;
    font-size: 17px;
    letter-spacing: 0;
    opacity: 0;
}

#FF #ff_txt3 {
    top: 173px;
    left: 12px;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 14px;
    width: 147px;
    opacity: 0;
}

#FF #ff_txt3 sup {
    font-size: 7px;
}

#FF #ff_txt4 {
    top: 262px;
    left: 12px;
    font-size: 9px;
    line-height: 12px;
    width: 153px;
    opacity: 0;
}

#FF #ff_txt5 {
    top: 26px;
    left: 12px;
    font-size: 15px;
    line-height: 15px;
    width: 166px;
}

.Redbutton {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    height: 18px;
    background: #ed1c24;
    color: #ffffff;
    text-decoration: none;
    font-size: 15px;
    padding: 8px;
    text-align: center;
}

.Redbutton:hover {
    background: #c81d1e;
}

#FF #ff-cta {
    width: 105px;
    top: 222px;
    left: 12px;
    opacity: 0;
}

#FF #ff-cta:hover {
    cursor: pointer;
}

#FF #footer {
    position: absolute;
    top: 380px;
    width: 100%;
    height: 80px;
    background: #ffffff;
}

#FF #footer-cta {
    width: 92px;
    top: 25px;
    left: 195px;
}

#FF #footer-cta:hover {
    cursor: pointer;
}


/* Map Styles */

#get-direction-button {
    position: absolute;
    bottom: 10px;
    right: 20px;
    font-size: 12px;
    padding: 12px 20px;
    height: auto;
}

#get-direction-button:hover {
    cursor: pointer;
}

#info {
    /*display: none;*/
}

#map {
    border: 1px solid #000000;
    width: 320px;
    height: 460px;
    background: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
}

#map-canvas {
    height: 100%;
}

#slider-directions {
    background: rgba(255, 255, 255, 0.7);
    width: 285px;
    height: 110px;
    position: absolute;
    bottom: 20px;
    left: 18px;
    z-index: 1000;
}

#right-arrow {
    background: url(../img/carat.png);
    width: 15px;
    height: 20px;
    position: absolute;
    right: 10px;
    top: 30px;
    display: block;
    cursor: pointer;
}

#left-arrow {
    background: url(../img/carat.png);
    width: 15px;
    height: 20px;
    position: absolute;
    left: 10px;
    top: 30px;
    cursor: pointer;
    display: block;
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}

#slider {
    font-size: 12px;
    width: 205px;
    height: 40px;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 20px;
    position: relative;
}

#container {
    position: absolute;
    left: 0;
}

#container div {
    float: left;
}

#slider p {
    margin-bottom: 2px;
}

#slider p.bold {
	font-weight: bold;
}

#autocomplete {
    border: 0;
    background: url(../img/search.png) 7px 9px no-repeat #ffffff;
    position: absolute;
    z-index: 1;
    padding: 5px 5px 5px 27px;
    width: 170px;
    height: 23px;
    top: 0;
    left: 0;
    border: 1px solid #ffffff;
    font-family: Arial, sans-serif;
    font-size: 12px;
}

#autocomplete:focus {
    border: 1px solid #4d90fe;
    outline: none;
}

#getLocation {
    background: url(../img/geolocation.png) center center no-repeat #ffffff;
    width: 35px;
    height: 35px;
    position: absolute;
    right: 36px;
    top: 0;
    z-index: 1;
}

#route {
    background: url(../img/route.png) center center no-repeat #ffffff;
    width: 35px;
    height: 35px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}

#getLocation:hover {
	cursor: pointer;
}

#route:hover {
	cursor: pointer;
}

#controls {
    background: #ffffff;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3),0 4px 15px -5px rgba(0,0,0,0.0);
    width: 275px;
    height: 35px;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1;
}

#separator {
    background: #8f8f8f;
    width: 1px;
    height: 18px;
    position: absolute;
    right: 35px;
    top: 9px;
    z-index: 1;
}
