p,h1,h2,h3,h4 {
	font-family: Arial, Helvetica, sans-serif;
}

#banner {
	width:320px;
	height:460px;
	background:#dedede;
}

#collapse-banner {
	width:320px;
	height:50px;
	background:#ed1c24;
	overflow: hidden;
}

#collapse-banner h1 {
	position:absolute;
	font-size: 15px;
  	top: 14px;
  	left: 85px;
  	color:#fff;
}

#collapse-banner h2 {
	position:absolute;
  font-size: 8px;
  top: 37px;
  left: 85px;
  color:#fff;
}

#collapse-banner img {
	margin-left: 10px;
  	margin-top: -10px;
}